
/* For width smaller than 400px: */
body {
    background-repeat: no-repeat;
    background-image: url('../image/smallCover.png'); 
    background-attachment: fixed;
    background-size:cover;
}

/* For width 400px and larger: */
@media only screen and (min-device-width: 780px) {
    body { 
       	background-image: url("../image/cover.jpg");
		background-attachment: fixed;
		background-repeat:no-repeat;
   		background-size:cover;
    }
}

div#title{
	width: 100%;
	height: 100vh;
	min-height:100vh;
	background-color: white;
	position: fixed;
	padding: 0px;
	float:none;
	opacity:0.2;
	display:block;
}

header {
  height: 800px;

}

h1#name{
	margin-top: 10%;
	text-align: left;
	margin-left: 10%;
	margin-right: auto;
	font-size: 60px;
	font-family: 'Overlock', cursive;
	color:white;
	z-index: 2;
	text-shadow: 4px 2px 20px rgba(150, 150, 150, 1);

}

.main-nav,
#main {
  position: relative; 
}
.main-nav {
  background: rgb(237,106,90);
  height: 130px;
  z-index: 150;
  margin-bottom: -130px;
  box-shadow: 0 2px 3px rgba(0,0,0,.4);
  opacity: 0.6;
}
.main-nav-scrolled {
  position: fixed;
  width: 100%;
  top: 0;
}
#main {
  background: #fff;
  padding: 110px 50px 50px;
  column-count: 2;
  column-gap: 40px;
}

#nav-name{
	float:left;
	font-size: 45px;
	margin-left: 4%;
	margin-top:2.5%;
	font-family: font-family: 'Dosis', sans-serif;
	font-weight: 800;
	color:rgb(255, 229, 229);
}

.nav-index{
	float:right;
	margin-right: 1%;
	margin-top: 4%;
	font-size: 20px;
	font-family: font-family: 'Dosis', sans-serif;
	font-weight: 300;
	color:rgb(244,241,187);
}
.nav-index:hover{
	color:#EBDDA7;
	text-decoration: none;
	text-shadow: 2px 2px 5px rgba(11, 23, 0, 0.94);
}

#nav-index-last{
	margin-right: 5%;
}

.page-title{
	margin-top: 5%;
	color:#5CA4A9;
}

#draw-line{
	border-bottom:8px solid #f7f7f7;
}

.main-content{
	margin-top: 4%;
	font-family: 'Enriqueta', serif;
	font-size: 16px;
	margin-right: 5%;
	margin-left: 2%;
}

#main-pic{
	width:100%;
	margin-top: 5%;
}

#poem{
	font-style: italic;
	color:#ED6A5A;
}
.main-contact{
	margin-top: 10%;
	font-family: 'Enriqueta', serif;
	font-size: 16px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	font-family: serif;
}

a.main-link:link{
	color:#5CA4A9;
}
a.main-link:visited{
	color:#9BC1BC;
}
a.main-link:hover{
	opacity:0.7;
	text-decoration: none;
	text-shadow: 2px 2px 5px rgba(249, 250, 250, 0.94);
}