

/* For All*/
h1#name{
	text-align: left;
	margin-right: auto;
	font-size: 5vh;
	font-family: 'Source Sans Pro', sans-serif;
	z-index: 2;
	font-weight: 800;
	color:gray;
}

h1#whatami{
	font-size: 5vh;
	color:gray;
	margin-top: 0;
}

img#me{
	width:100%;
}

span.colored{
	color:rgba(121,204,205,1);
}

a:hover{
	opacity:0.5;
}

div#main-nav{
	margin: auto; 
	width: 100%;
	text-align: center;
}

a.likebutton{
	background-color: none;
	font-size: 2.5vh;
	font-family: 'Source Sans Pro', sans-serif;
	border-color:#F16664;
	color: gray;
}

a.likebutton:hover{
	text-decoration: none;
	background-color: #F16664;
	color:white;
	border-style: solid;
	border-width: 2px;
}

a.button-selected:hover{
	text-decoration: none;
	background-color: #F16664;
	color:white;
	border-style: solid;
	border-width: 2px;
}

a.button-selected{
	background-color: #F16664;
	color:white;
	border-style: solid;
	font-size: 2.5vh;
	font-family: 'Source Sans Pro', sans-serif;
}

div#breaker{
	border-bottom: 1px solid #79CCCD;
	padding-top:1%;
}

img.icons{
	height:13px;
}

div#icondiv{
	text-align:right;
}

/* For width 400px and larger: */
@media only screen and (min-device-width: 769px) {
    header{
    	width:60%;
    	margin-left:20%;
    }
    img#me{
		margin-top: 60%;
	}
	div#main-nav{
		margin-top: 15%;
	}
	a.likebutton{
		padding-left:20px;
		padding-right: 20px;
		padding-top: 3px;
		padding-bottom: 3px;
		margin-left: 2%;
		margin-right: 2%;
	}
	a.button-selected{
		border-width: 2px;
		padding-left:20px;
		padding-right: 20px;
		padding-top: 3px;
		padding-bottom: 3px;
		margin-left: 2%;
		margin-right: 2%;
	}
	h1#name{
		margin-top: 40%;
	}
	p#end{
		text-align: left;
		margin-top: 2%;
		font-size: 1.5vh;
		color:grey;
	}
	div#icondiv{
		margin-top: 0.7%;
	}
	div.break{
		margin-top: 5%;
	}
}

/* For width smaller than 420px: */
@media all and (max-width: 420px) {
    header{
    	width:90%;
    	margin-left:5%;
    	margin-top: 8%;
    }
    img#me{
    	margin-top: 5%;
    }
    h1#name,h1#whatami{
    	font-size: 4vh;
    }
    div#main-nav{
		margin: auto; 
		width: 100%;
		text-align: center;
		margin-top: 5%;
		position:fixed;
		bottom:5%;
	}
	a.likebutton{
		padding-left:2px;
		padding-right: 2px;
	}
	a.button-selected{
		padding-left:2px;
		padding-right: 2px;
	}
	hr#divider{
		margin-top: 10%;
		width:60%;
	}
	p#end{
		text-align: center;
		margin-top: 1.2%;
		font-size: 1.3vh;
		color:grey;
	}
	div#icondiv{
		margin-top: -2%;
	}
	img.icons{
		height:13px;
		margin-right: 4px;
		margin-left: 4px;
	}
	div#icondiv{
		text-align:center;
		margin-bottom:5%;
	}
}

/* For tablet: */
@media all and (min-width: 420px) and (max-width: 768px){
	header{
    	width:90%;
    	margin-left:5%;
    	margin-top: 20%;
    }
    img#me{
    	width:100px;
    	margin-top: 3%;
    	margin-bottom: 3%;
    }
    h1#name,h1#whatami{
    	font-size: 4vh;
    }
    div#main-nav{
		margin: auto; 
		width: 100%;
		text-align: center;
		margin-top: 5%;
	}
	a.likebutton{
		padding-left:5px;
		padding-right: 5px;
		font-size: 3vh;
	}
	a.button-selected{
		padding-left:5px;
		padding-right: 5px;
		font-size: 3vh;
	}
	p#end{
		text-align: center;
		margin-top: 1%;
		font-size: 1.5vh;
		color:grey;
	}
	div#icondiv{
		margin-top: 0%;
		text-align:center;
		margin-bottom: 5%;
	}
	img.icons{
		height:18px;
		margin-right: 8px;
		margin-left: 8px;
	}

}

