body {
				background-color: #d1aeb0;
				padding:0px;
				padding-top:5px;
				background-image:
    				linear-gradient(
     					 to right, 
      					#d1aeb0, white, white,white, white,white 50%, white,white,white, white,#d1aeb0
    				);
			}
			#body {
				padding: 0px;
				margin-left:115px;
				width: 1250px;
				position: absolute;
			}
			#welcome {
				padding: 0px;
				width: 1250px;
				position: absolute;
				z-index: 1;
			}
			#sample{
				padding: 0px;
				width: 1250px;
				position: absolute;
				z-index: 1;
				display:none;
			}
			img {
				padding: 0px;
			}
			#cover {
				width: 1250px;
				position: absolute;
				padding: 0px;
				opacity:0.39;
				display: none;
				z-index:2;
			}
			#hello{
				width: 1250px;
				position: absolute;
				padding: 0px;
				display: none;
				z-index:3;
			}
			.navigation{
				width: 190px;
				height: 51px;
				border-style : solid;
    			border-width :1px;
   				border-color: white;
				position: absolute;
				padding: 0px;
				z-index:4;
				margin-left:930px;
				font-family: 'Dosis',sans-serif;
				font-size: 37px;
				color: white;
				border-radius: 10px;
				display: none;
				cursor: pointer;
			}
			p{
				padding-left:8px;
				border:0px;
				padding-right:8px;
				padding-bottom:4px;
				padding-top: 0px;
				margin-top: 0px;
			}
			.navigation:hover{
				border-style : solid;
    			border-width :2px;
   				border-color: #C47B7D;
			}
			#title{
				font-family: 'Dosis',sans-serif;
				font-size: 80px;
				color: #C47B7D;
				display: none;
				position: fixed;
				width:400px;
				height: 120px;
				padding-left:9px;
				border-style: double;
    			border-width: 10px;
    			border-color: #d1aeb0;
    			z-index: 1;
			}
			#title2 {
				font-family: 'Dosis',sans-serif;
				font-size: 80px;
				color: #C47B7D;
				display: none;
				position: fixed;
				width:400px;
				height: 110px;
				padding-left:9px;
				border-style: double;
    			border-width: 10px;
    			border-color: #d1aeb0;
    			z-index: 1;
			}
			.nav{
				font-family: 'Dosis',sans-serif;
				font-size: 50px;
				color: rgba(196,123,125,0.5);
				width:198px;
				border-style: solid;
    			border-width: 3px;
    			border-color: lightgrey;
    			height:70px;
    			display: none;
    			text-decoration: none;
			}
			.nav2{
				font-family: 'Dosis',sans-serif;
				font-size: 50px;
				color: rgba(196,123,125,0.5);
				width:252px;
				border-style: solid;
    			border-width: 3px;
    			border-color: lightgrey;
    			height:70px;
    			display: none;
    			text-decoration: none;
			}
			.nav:hover{
   				border-color: #d1aeb0;
   				-webkit-box-shadow: 9px 10px 61px -24px rgba(0,0,0,0.52);
				-moz-box-shadow: 9px 10px 61px -24px rgba(0,0,0,0.52);
				box-shadow: 9px 10px 61px -24px rgba(0,0,0,0.52);
				color: #C47B7D;
				cursor: pointer;
			}
			.nav2:hover{
   				border-color: #d1aeb0;
   				-webkit-box-shadow: 9px 10px 61px -24px rgba(0,0,0,0.52);
				-moz-box-shadow: 9px 10px 61px -24px rgba(0,0,0,0.52);
				box-shadow: 9px 10px 61px -24px rgba(0,0,0,0.52);
				color: #C47B7D;
				cursor: pointer;
			}
			a:link{
				text-decoration: none;
				color: #C47B7D;
			}
			a:visited{
				text-decoration: none;
				color: #9C9C9C;
			}
			.link:hover{
				text-shadow: 0 0 1px #C47B7D;
			}
			#fixed{
				position: fixed;
				top:23%;
			}
			.content{
				right: 8%;
				position: absolute;
				width:875px;
				color:black;
				float:right;
				top:174px;
				font-family:'Dosis',sans-serif;
				z-index: 2;
			}
			.content2{
				right: 8%;
				position: absolute;
				width:850px;
				color:black;
				float:right;
				top:174px;
				font-family:'Dosis',sans-serif;
				z-index: 2;
			}
			.name{
				font-size: 40px;
				margin-top:12px;
				margin-bottom:15px;
			}
			.description{
				padding-left: 0px;
				font-size:20px;
				margin-top:10px;
				margin-bottom:10px;
			}
			.example{
				background-color: rgba(255,228,225,0.7);
				padding-left:20px;
				padding-right:20px;
				padding-top:3px;
				padding-bottom: 3px;
				width:875px;
				border-radius:10px;
				position: relative;
				line-height: 200%;
			}
			.smallPic{
				margin-top: 5px;
				margin-right: 0px;
				margin-bottom:10px;
				padding-right: 0px;
				width:875px;
			}
			.smallPic:hover{
   				-webkit-box-shadow: 9px 10px 61px -24px rgba(0,0,0,0.52);
				-moz-box-shadow: 9px 10px 61px -24px rgba(0,0,0,0.52);
				box-shadow: 9px 10px 61px -24px rgba(0,0,0,0.52);
			}
			#all{
				display:none;
			}
			#homeless{
				margin-left: 200px;
			}
			#cap{
				margin-left: 401px;
			}
			#seaLevelRise{
				margin-left:200px;
			}
			#colonoscopy{
				margin-left:300px;
				margin-top:5px;
			}
			#myPhoto{
				float:right;
				width:200px;
				height:200px;
				margin-right:10%;
				background-color: black;
				border-radius: 100%;
				z-index: 3;
				background-image: url("../img/myPhoto2.jpg");
			}
			#resume{
				margin-left:15%;
			}

