/*new*/

div#main-nav{
	margin: auto; 
	width: 100%;
	text-align: center;
}

a.likebutton{
	background-color: none;
	font-size: 18px;
	font-family: 'Source Sans Pro', sans-serif;
	border-color:#F16664;
	color: gray;
}

a.likebutton:hover{
	text-decoration: none;
	background-color: #F16664;
	color:white;
	border-style: solid;
	border-width: 2px;
}

a.button-selected:hover{
	text-decoration: none;
	background-color: #F16664;
	color:white;
	border-style: solid;
	border-width: 2px;
}

a.button-selected{
	background-color: #F16664;
	color:white;
	border-style: solid;
	font-size: 18px;
	font-family: 'Source Sans Pro', sans-serif;
}

div#breaker{
	border-bottom: 1px solid #79CCCD;
	padding-top:1%;
}

h1,p{
	font-family: 'Source Sans Pro', sans-serif;
}

section#section{
	margin-top: 0;
}

p#postertxt{
	width:90%;
	margin:auto;
}

hr#divider{
	border-bottom: 1px solid #79CCCD;
	border-top: none;
}

img.icons{
	height:13px;
}

div#icondiv{
	text-align:right;
}

a:hover{
	opacity:0.5;
}

/*old*/

.page-title{
	margin-top: 5%;
	color:#F16664;
}
.page-title2{
	margin-top: 5%;
	color:#F16664;
}

#draw-line{
	border-bottom:1px solid #f7f7f7;
	margin-bottom: 1%;
}

.main-sample{
	width:100%;

}

.main-sample-mobile{
	width:20%;

}

#main-subcontent{
	margin-top: 4%;
	margin-bottom: 2%;
}
a.main-link:link{
	color:#6BB7B9;
}
a.main-link:visited{
	color:#6BB7B9;
}
a.main-link:hover{
	opacity:0.7;
	text-decoration: none;
	text-shadow: 2px 2px 5px rgba(249, 250, 250, 0.94);
}

.main-subtitle{
	margin-bottom: 1%;
	font-size: 20px;
	color:rgba(121,204,205,1);
}
p.main-date{
	font-style: italic;
	margin-bottom: 0.8%;
	font-size: 14px;
}
p.main-subtext{
	font-size: 14px;
	margin-bottom: 0%;
}
p.main-technique{
	color:#F16664;
	margin-top:0.8%;
	margin-bottom: 0%;
	font-size: 14px;
}
span.main-highlight{
	color:#6BB7B9;
}

@media only screen and (min-device-width: 769px) {
	#main{
		margin-left: 10%;
		width:80%;
	}
	div#main-nav{
		margin-top: 5%;
	}
	a.likebutton{
		padding-left:20px;
		padding-right: 20px;
		padding-top: 3px;
		padding-bottom: 3px;
		margin-left: 2%;
		margin-right: 2%;
	}
	a.button-selected{
		border-width: 2px;
		padding-left:20px;
		padding-right: 20px;
		padding-top: 3px;
		padding-bottom: 3px;
		margin-left: 2%;
		margin-right: 2%;
	}
	.main-subtitle{
		margin-top: -0.3%;
	}
	p{
		font-size: 14px;
	}
	hr#divider{
		margin-top: 10%;
		width:100%;
		padding-top: 6%;
	}
	p#end{
		text-align: left;
		margin-top: -2.5%;
		font-size: 12px;
		color:grey;
	}
	div#icondiv{
		margin-top: -1.8%;
	}
	div.break{
		margin-top: 5%;
	}
}

/* For width smaller than 420px: */
@media all and (max-width: 420px) {
	#main{
		width:100%;
		padding:0px;
	}
    div#main-nav{
		margin: auto; 
		width: 100%;
		text-align: center;
		margin-top: 5%;
	}
	a.likebutton{
		padding-left:2px;
		padding-right: 2px;
	}
	a.button-selected{
		padding-left:2px;
		padding-right: 2px;
	}
	h4.main-subtitle{
		margin-top: 4%;
	}
	h1#page-title{
		font-size: 24px;
	}
	hr#divider{
		margin-top: 10%;
		width:60%;
	}
	p#end{
		text-align: center;
		margin-top: -4.7%;
		font-size: 12px;
		color:grey;
	}
	div#icondiv{
		margin-top: -2.2%;
	}
	img.icons{
		height:13px;
		margin-right: 4px;
		margin-left: 4px;
	}
	div#icondiv{
		text-align:center;
		margin-bottom:5%;
	}

	#main-subcontent{
/*	margin-top: 4%;*/
	margin-bottom: 50px;
}
}

/* For tablet: */
@media all and (min-width: 420px) and (max-width: 768px){

    div#main-nav{
		margin: auto; 
		width: 100%;
		text-align: center;
		margin-top: 5%;
	}

	a.likebutton{
		padding-left:5px;
		padding-right: 5px;
/*		font-size: 3vh;*/
	}
	a.button-selected{
		padding-left:5px;
		padding-right: 5px;
/*		font-size: 3vh;*/
	}
	h4.main-subtitle{
		margin-top: 1%;
	}
	hr#divider{
		margin-top: 5%;
		width:60%;
	}
	p#end{
		text-align: center;
		margin-top: -2.3%;
		font-size: 12px;
		color:grey;
	}
	div#icondiv{
		margin-top: 0%;
		text-align:center;
		margin-bottom: 5%;
	}
	img.icons{
		height:18px;
		margin-right: 8px;
		margin-left: 8px;
	}

}

